@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    padding: 0;
    margin: 0;
}

:root {
    --bg: #fffffff1;
    --fontcolor: #1d1d1f;
    --buttontextcolor: #0071e3;
    --paragraphColor: rgb(245, 245, 247);
    --btnfontcolor: #ffff;
    --footer-text-color: rgba(0, 0, 0, 0.56);
    --footer-background: rgb(245, 245, 247);
    --footer-heading-color: #1d1d1f;
    --footer-p-color: #0071e3ae;
}

body {
    width: 100%;
    height: 2200px;
    font-family: 'Roboto', sans-serif;
}

header {
    background: var(--bg);
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        li {
            font-size: 12px;
            font-weight: 100;

            img {
                width: 14px;
            }

            cursor: pointer;
        }
    }
}

.section-1 {
    width: 100%;
    height: 580px;
    background-image: url(./backgrounds/iphone.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;

    .content-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 55px;
        width: 600px;
        height: auto;

        h1 {
            margin-top: 10px;
            font-size: 55px;
            font-weight: 600;
        }

        p {
            margin-top: 10px;
            font-size: 27px;
            font-weight: 300;
            word-spacing: 0px;
            letter-spacing: 0.1px;
        }

        .btn-panel {
            margin-top: 10px;
            width: 100%;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            button {
                margin-left: 12px;
                width: 120px;
                height: 40px;
                font-size: 16px;
                letter-spacing: 0.02px;
                border-radius: 30px;
                border: none;
                padding: 0 12px;
                background: var(--buttontextcolor);
                color: var(--btnfontcolor);
                cursor: pointer;
            }

            button:last-child {
                background: transparent;
                color: var(--buttontextcolor);
                border: 1px solid var(--buttontextcolor);
            }

            button:last-child:hover {
                background: var(--buttontextcolor);
                color: var(--btnfontcolor);
            }
        }

        span {
            margin-top: 10px;
            background: -webkit-linear-gradient(356deg, #0090F7, #BA62FC, #F2416B, #F55600);
            background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
            background-clip: text;
            color: transparent;
            font-size: 20px;
        }
    }
}

.section-2 {
    width: 100%;
    height: 580px;
    background-image: url(./backgrounds/mackbook.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        height: 100%;
        margin-top: 35px;

        h1 {
            margin-top: 10px;
            font-size: 55px;
            font-weight: 500;
        }

        p {
            margin-top: 10px;
            font-size: 27px;
            font-weight: 300;
            word-spacing: 0px;
            text-align: center;
            letter-spacing: 0.1px;
        }

        .btn-panel {
            margin-top: 10px;
            width: 100%;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            button {
                margin-left: 12px;
                width: 120px;
                height: 40px;
                font-size: 16px;
                letter-spacing: 0.02px;
                border-radius: 30px;
                border: none;
                padding: 0 12px;
                background: var(--buttontextcolor);
                color: var(--btnfontcolor);
                cursor: pointer;
            }

            button:last-child {
                background: transparent;
                color: var(--buttontextcolor);
                border: 1px solid var(--buttontextcolor);
                width: 75px;
            }

            button:last-child:hover {
                background: var(--buttontextcolor);
                color: var(--btnfontcolor);
            }
        }

        span {
            margin-top: 250px;
            background: -webkit-linear-gradient(356deg, #0090F7, #BA62FC, #F2416B, #F55600);
            background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
            background-clip: text;
            color: transparent;
            font-size: 20px;

        }
    }
}

.section-3 {
    width: 100%;
    height: 1900px;
    background: var(--bg);
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;


    .panel-1 {
        width: 720px;
        height: 620px;
        background-image: url(./backgrounds/ipad.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--btnfontcolor);

        .content-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 600px;
            height: 80%;
            margin-top: 20px;

            h1 {
                margin-top: 10px;
                font-size: 40px;
                font-weight: 500;
            }

            p {
                margin-top: 10px;
                font-size: 20px;
                font-weight: 300;
                word-spacing: 0px;
                text-align: center;
                letter-spacing: 0.1px;
            }

            .btn-panel {
                margin-top: 10px;
                width: 100%;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                button {
                    margin-left: 12px;
                    width: 120px;
                    height: 35px;
                    font-size: 16px;
                    letter-spacing: 0.02px;
                    border-radius: 30px;
                    border: none;
                    padding: 0 12px;
                    background: var(--buttontextcolor);
                    color: var(--btnfontcolor);
                    cursor: pointer;
                }

                button:last-child {
                    background: transparent;
                    color: var(--buttontextcolor);
                    border: 1px solid var(--buttontextcolor);
                    width: 75px;
                }

                button:last-child:hover {
                    background: var(--buttontextcolor);
                    color: var(--btnfontcolor);
                }
            }

            span {
                margin-top: 330px;
                background: -webkit-linear-gradient(356deg, #0090F7, #BA62FC, #F2416B, #F55600);
                background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
                background-clip: text;
                color: transparent;
                font-size: 16px;

            }
        }
    }

    .panel-2 {
        width: 720px;
        height: 620px;
        background-image: url(./backgrounds/applewatch.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .content-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 600px;
            height: 80%;
            margin-top: 3px;

            img {
                margin-top: 10px;
                width: 145px;
            }

            p {
                margin-top: 10px;
                font-size: 20px;
                font-weight: 300;
                word-spacing: 0px;
                text-align: center;
                letter-spacing: 0.1px;
            }

            .btn-panel {
                margin-top: 10px;
                width: 100%;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                button {
                    margin-left: 12px;
                    width: 120px;
                    height: 35px;
                    font-size: 16px;
                    letter-spacing: 0.02px;
                    border-radius: 30px;
                    border: none;
                    padding: 0 12px;
                    background: var(--buttontextcolor);
                    color: var(--btnfontcolor);
                    cursor: pointer;
                }

                button:last-child {
                    background: transparent;
                    color: var(--buttontextcolor);
                    border: 1px solid var(--buttontextcolor);
                    width: 75px;
                }

                button:last-child:hover {
                    background: var(--buttontextcolor);
                    color: var(--btnfontcolor);
                }
            }
        }
    }

    .panel-3 {
        width: 720px;
        height: 620px;
        background-image: url(./backgrounds/promo_airpods_pro_2_avail__vkitqi3okwie_medium_2x.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--btnfontcolor);

        .content-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 600px;
            height: 80%;
            margin-top: 95%;

            h1 {
                margin-top: 5px;
                font-size: 40px;
                font-weight: 500;
            }

            p {
                margin-top: 5px;
                font-size: 20px;
                font-weight: 300;
                word-spacing: 0px;
                text-align: center;
                letter-spacing: 0.1px;
            }

            sup {
                vertical-align: super;
                font-size: 12px;
            }

            .btn-panel {
                margin-top: 10px;
                width: 100%;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                button {
                    margin-left: 12px;
                    width: 120px;
                    height: 35px;
                    font-size: 16px;
                    letter-spacing: 0.02px;
                    border-radius: 30px;
                    border: none;
                    padding: 0 12px;
                    background: var(--buttontextcolor);
                    color: var(--btnfontcolor);
                    cursor: pointer;
                }

                button:last-child {
                    background: transparent;
                    color: var(--buttontextcolor);
                    border: 1px solid var(--buttontextcolor);
                    width: 75px;
                }

                button:last-child:hover {
                    background: var(--buttontextcolor);
                    color: var(--btnfontcolor);
                }
            }
        }
    }

    .panel-4 {
        width: 720px;
        height: 620px;
        background-image: url(./backgrounds/macbook.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--btnfontcolor);

        .content-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 600px;
            height: 80%;
            margin-top: 3px;

            h1 {
                margin-top: 10px;
                font-size: 40px;
                font-weight: 500;
            }

            p {
                margin-top: 10px;
                font-size: 20px;
                font-weight: 300;
                word-spacing: 0px;
                text-align: center;
                letter-spacing: 0.1px;
            }

            .btn-panel {
                margin-top: 10px;
                width: 100%;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                button {
                    margin-left: 12px;
                    width: 120px;
                    height: 35px;
                    font-size: 16px;
                    letter-spacing: 0.02px;
                    border-radius: 30px;
                    border: none;
                    padding: 0 12px;
                    background: var(--buttontextcolor);
                    color: var(--btnfontcolor);
                    cursor: pointer;
                }

                button:last-child {
                    background: transparent;
                    color: var(--buttontextcolor);
                    border: 1px solid var(--buttontextcolor);
                    width: 75px;
                }

                button:last-child:hover {
                    background: var(--buttontextcolor);
                    color: var(--btnfontcolor);
                }
            }

            span {
                margin-top: 330px;
                background: -webkit-linear-gradient(356deg, #0090F7, #BA62FC, #F2416B, #F55600);
                background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
                background-clip: text;
                color: transparent;
                font-size: 16px;

            }
        }
    }

    .panel-5 {
        width: 720px;
        height: 620px;
        background-image: url(./backgrounds/iphone12.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .content-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 600px;
            height: 80%;
            margin-top: 3px;

            img {
                margin-top: 10px;
                width: 155px;
            }

            p {
                margin-top: 10px;
                font-size: 20px;
                font-weight: 300;
                word-spacing: 0px;
                text-align: center;
                letter-spacing: 0.1px;
            }

            sup {
                vertical-align: super;
                font-size: 12px;
            }

            .btn-panel {
                margin-top: 10px;
                width: 100%;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                button {
                    margin-left: 12px;
                    width: 160px;
                    height: 35px;
                    font-size: 16px;
                    letter-spacing: 0.02px;
                    font-weight: none;
                    border-radius: 30px;
                    border: none;
                    padding: 0 12px;
                    background: var(--buttontextcolor);
                    color: var(--btnfontcolor);
                    cursor: pointer;
                }
            }
        }
    }

    .panel-6 {
        width: 720px;
        height: 620px;
        background-image: url(./backgrounds/promo_apple_card__5cm7draujpey_medium_2x.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .content-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 600px;
            height: 80%;
            margin-top: 3px;

            img {
                margin-top: 10px;
                width: 105px;
            }

            p {
                margin-top: 10px;
                font-size: 20px;
                font-weight: 300;
                word-spacing: 0px;
                text-align: center;
                letter-spacing: 0.1px;
            }

            .btn-panel {
                margin-top: 10px;
                width: 100%;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                button {
                    margin-left: 12px;
                    width: 120px;
                    height: 35px;
                    font-size: 16px;
                    letter-spacing: 0.02px;
                    border-radius: 30px;
                    border: none;
                    padding: 0 12px;
                    background: var(--buttontextcolor);
                    color: var(--btnfontcolor);
                    cursor: pointer;
                }

                button:last-child {
                    background: transparent;
                    color: var(--buttontextcolor);
                    border: 1px solid var(--buttontextcolor);
                }

                button:last-child:hover {
                    background: var(--buttontextcolor);
                    color: var(--btnfontcolor);
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 1400px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background: red;
    background: var(--footer-background);

    .deatils-upper {
        width: 65%;
        height: 650px;
        margin-top: 20px;
        line-height: 16px;

        ol li {
            font-size: 13px;
            color: var(--footer-text-color);

            a {
                font-size: 13px;
                color: var(--footer-text-color);
            }
        }
    }

    .support {
        margin-top: 20px;
        width: 65%;
        height: 550px;
        display: flex;
        justify-content: space-between;

        .dtd-1 {
            width: 190px;
            height: 70%;

            .shop {
                h3 {
                    font-size: 14px;
                    line-height: 1.33;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    color: var(--footer-heading-color);
                }

                ul li {
                    list-style: none;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        font-size: 12px;
                        color: var(--footer-text-color);
                    }

                }
            }

            .wallet {
                margin-top: 25px;

                h3 {
                    font-size: 14px;
                    line-height: 1.33;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    color: var(--footer-heading-color);
                }

                ul li {
                    list-style: none;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        font-size: 12px;
                        color: var(--footer-text-color);
                    }

                }
            }
        }

        .dtd-2 {
            width: 190px;
            height: 70%;

            .account {
                h3 {
                    font-size: 14px;
                    line-height: 1.33;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    color: var(--footer-heading-color);
                }

                ul li {
                    list-style: none;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        font-size: 12px;
                        color: var(--footer-text-color);
                    }

                }
            }

            .entertinment {
                margin-top: 25px;
                align-items: top;

                h3 {
                    font-size: 14px;
                    line-height: 1.33;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    color: var(--footer-heading-color);
                }

                ul li {
                    list-style: none;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        font-size: 12px;
                        color: var(--footer-text-color);
                    }

                }
            }
        }

        .dtd-3 {
            width: 190px;
            height: 70%;

            .store {
                h3 {
                    font-size: 14px;
                    line-height: 1.33;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    color: var(--footer-heading-color);
                }

                ul li {
                    list-style: none;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        font-size: 12px;
                        color: var(--footer-text-color);
                    }

                }
            }
        }

        .dtd-4 {
            width: 190px;
            height: 70%;

            .Business {
                h3 {
                    font-size: 14px;
                    line-height: 1.33;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    color: var(--footer-heading-color);
                }

                ul li {
                    list-style: none;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        font-size: 12px;
                        color: var(--footer-text-color);
                    }

                }
            }

            .Education {
                margin-top: 25px;

                h3 {
                    font-size: 14px;
                    line-height: 1.33;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    color: var(--footer-heading-color);
                }

                ul li {
                    list-style: none;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        font-size: 12px;
                        color: var(--footer-text-color);
                    }

                }
            }

            .Healthcare {
                margin-top: 25px;

                h3 {
                    font-size: 14px;
                    line-height: 1.33;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    color: var(--footer-heading-color);
                }

                ul li {
                    list-style: none;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        font-size: 12px;
                        color: var(--footer-text-color);
                    }

                }
            }

            .Government {
                margin-top: 25px;

                h3 {
                    font-size: 14px;
                    line-height: 1.33;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    color: var(--footer-heading-color);
                }

                ul li {
                    list-style: none;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        font-size: 12px;
                        color: var(--footer-text-color);
                    }

                }
            }
        }

        .dtd-5 {
            width: 190px;
            height: 70%;

            .values {
                h3 {
                    font-size: 14px;
                    line-height: 1.33;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    color: var(--footer-heading-color);
                }

                ul li {
                    list-style: none;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        font-size: 12px;
                        color: var(--footer-text-color);
                    }

                }
            }

            .about {
                margin-top: 25px;

                h3 {
                    font-size: 14px;
                    line-height: 1.33;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    color: var(--footer-heading-color);
                }

                ul li {
                    list-style: none;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        font-size: 12px;
                        color: var(--footer-text-color);
                    }

                }
            }
        }
    }

    .contactes {
        width: 65%;
        margin-bottom: 12px;

        p {
            font-size: 12px;
            color: var(--footer-text-color);

            a {
                font-size: 12px;
                color: var(--footer-p-color);
            }
        }
    }

    .Copyright-section {
        width: 65%;
        height: 45px;
        display: flex;
        justify-content: space-between;

        .a1 {
            width: 35%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: left;

            p {
                font-size: 12px;
                color: var(--footer-text-color);
            }
        }

        .a2 {
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: left;

            p {
                font-size: 12px;
                color: var(--footer-text-color);
            }
        }

        .a3 {
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: right;

            p {
                font-size: 12px;
                color: var(--footer-text-color);
            }
        }
    }
}